In [ ]:
# 1. Remove duplicates from a list without using set.

my_list = [2 ,3, 5, 9, 2, 5, 1, 2]

updated_list = []

for i in my_list:
    if i not in updated_list:
        updated_list.append(i)
print(updated_list)

[2, 3, 5, 9, 1]

In [ ]:
# 2. Write a function that flattens a nested list (e.g., [[1,2],[3,[4,5]],6] → [1,2,3,4,5,6]).

In [ ]:
# 3. Rotate a list to the right by k steps (e.g., [1,2,3,4,5], k=2 → [4,5,1,2,3]).
a = [1,2,3,4,5]
k = 2
rotated_list = a[-k:] + a[:-k]
print(rotated_list)

[4, 5, 1, 2, 3]

In [ ]:
# 4. Find all pairs in a list whose sum is equal to a target number.

nums = [2, 7, 11, 15, -2, 8, 3]
target = 10

def find_pairs(nums, target):
    seen = []
    pairs = []
    for num in nums:
        remain = target - num

        if remain in seen:
            pairs.append((remain, num))

        seen.append(num)

    return pairs



pairs = find_pairs(nums, target)
print(pairs)
# Output: [(7, 3), (2, 8)]

[(2, 8), (7, 3)]

In [ ]:
#5. Given a list of tuples like [('a',1), ('b',2), ('a',3)], write a function to group values by key into a dictionary.
a =  [('a',1), ('b',2), ('a',3)]

def group_values(a):
  b = {}

  for key, value in a:
      if key not in b:
          b[key] = []
      b[key].append(value)
  print(b)


group_values(a)

{'a': [1, 3], 'b': [2]}

In [ ]:
#6. Write a function that takes a list of tuples and returns a tuple with the max sum of its elements.

tuples_list = [(1, 2), (3, 4), (5, 6), (7, 8)]


def max_sum_tuple(tuples_list):
  temp = []

  for i in tuples_list:
    temp.append(sum(i))

  return tuples_list[temp.index(max(temp))]



result = max_sum_tuple(tuples_list)
print(result)  # Output: (7, 8)

(7, 8)

In [ ]:
#7. Count the frequency of each word in a sentence and return a dictionary.
a = "hello world"
b = {}

for i in a:
    if i not in b:
        b[i] = 1
    else:
        b[i] += 1
print(b)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
#8. Merge two dictionaries. If a key appears in both, sum their values.
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}


merged_dict = {}

for i in dict2:
    if i not in dict1:
        dict1[i] = dict2[i]
    else:
        dict1[i] = dict1[i] + dict2[i]
print(dict1)

{'a': 1, 'b': 5, 'c': 4}

In [ ]:
#9. Sort a dictionary by its values in descending order.

In [ ]:
#10. Write a function to invert a dictionary: {1: 'a', 2: 'b'} → {'a': 1, 'b': 2}.
d =  {1: 'a', 2: 'b'}
inverted_dict = {}

for key, value in d.items():
    inverted_dict[value] = key

print(inverted_dict)

{'a': 1, 'b': 2}

In [ ]:
#11. Use lambda and map to square each number in a list.

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = []
x = lambda i : i**2
b = map(x, a)
c = list(b)
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#12. Use filter and lambda to get all even numbers from a list.

num = [1, 4, 9, 16, 25]

def even(n):
  if(n%2==0):
    return True
  else:
    return False

b = list(filter(even, num))
print(b)

[4, 16]

In [ ]:
#13. Given a list of names, use map to convert each name to Title Case.
names = ['john doe', 'jane smith', 'alice cooper', 'bob marley']

# Use map with the title() method to convert each name to Title Case
updated_names = list(map(lambda name: name.title(), names))

print(updated_names)

['John Doe', 'Jane Smith', 'Alice Cooper', 'Bob Marley']

In [ ]:
# 14.  Use a function with argument and parameter to find the product of all numbers in a list.
def product(x):
  product = 1
  for i in x:

    product *= i
  return product

a = [1,2,3,4,5]
print(product(a))

120

In [ ]:
#15.  Use map() and lambda to combine two lists element-wise into sums.
a = [1,2,3,4]
b = [5,6,7,8]

sum = map(lambda x,y: x+y, a,b)
print(list(sum))

[6, 8, 10, 12]

In [ ]:
#16. Given a list of dictionaries [{name: "A", age: 25},...], use filter() to get only those with age > 30.
data = [{"name": "A", "age": 25}, {"name": "B", "age": 17}, {"name": "B", "age": 35}]

def age_filter(data):
  return data["age"] > 30

filtered_data = list(filter(age_filter, data))
print(filtered_data)

[{'name': 'B', 'age': 35}]

In [ ]:
#17. Write a function that finds the first non-repeating character in a string.
word = "hello world"

def first_non_repeating_char(word):
    for char in word:
        if word.count(char) == 1:
            return char
    return None

print(first_non_repeating_char(word))

h

In [ ]:
#18. Create a dictionary from two lists, one of keys and one of values.
key_list = ['a', 'b', 'c']
value_list = [1, 2, 3]
my_dict = {}
for i in range(len(key_list)):
    my_dict[key_list[i]] = value_list[i]

print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#19. Write a function to check if two lists are anagrams of each other.
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]

def check_anagrams(list1, list2):
    return sorted(list1) == sorted(list2)

print(check_anagrams(list1, list2))

False

In [ ]:
#20. Implement a frequency counter using list comprehension and dictionary.

items = ['apple', 'banana', 'orange', 'apple', 'banana', 'banana']


frequency_counter = {item: items.count(item) for item in items}

print(frequency_counter)

{'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
# Case Study: Sales and Inventory Management System
# Objective:
# Design a Python-based system for a retail company that manages inventory, sales, and profit tracking using Object-Oriented Programming. The company wants to:
# Add new products.
# Update stock.
# Record customer purchases.
# Automatically update inventory.
# Calculate total revenue and profit per product.

# Entities & Structure:
# Product: Represents individual items.
# Inventory: Manages the collection of products.
# SalesRecord: Logs each sale and helps compute revenue and profit.
# StoreManager: Interface to interact with all operations.