In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("covid_toy.csv")

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si= SimpleImputer(strategy="mean")

In [9]:
df["fever"]=si.fit_transform(df[["fever"]])

In [10]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [12]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
lb=LabelEncoder()

In [16]:
df["gender"]=lb.fit_transform(df["gender"])
df["cough"]=lb.fit_transform(df["cough"])
df["city"]=lb.fit_transform(df["city"])
df["has_covid"]=lb.fit_transform(df["has_covid"])

In [17]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [22]:
x=df.drop(columns=["has_covid"])
y=df["has_covid"]

In [24]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=20)

In [28]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   43.52    0.39  100.82   0.38   1.39
std    24.70    0.49    2.05   0.49   1.11
min     5.00    0.00   98.00   0.00   0.00
25%    19.75    0.00   99.00   0.00   0.00
50%    44.00    0.00  100.84   0.00   1.50
75%    65.00    1.00  102.25   1.00   2.00
max    83.00    1.00  104.00   1.00   3.00

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
sc=StandardScaler()

In [33]:
x_train_sc = sc.fit_transform(x_train)

In [40]:
np.round(x_train_sc.describe(),2)

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [43]:
x_train_new=pd.DataFrame(x_train_sc,columns = x_train.columns)

In [45]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.00    0.00   0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.57   -0.80  -1.39  -0.77  -1.26
25%    -0.97   -0.80  -0.90  -0.77  -1.26
50%     0.02   -0.80   0.01  -0.77   0.10
75%     0.87    1.26   0.70   1.29   0.56
max     1.61    1.26   1.56   1.29   1.46

In [46]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   43.52    0.39  100.82   0.38   1.39
std    24.70    0.49    2.05   0.49   1.11
min     5.00    0.00   98.00   0.00   0.00
25%    19.75    0.00   99.00   0.00   0.00
50%    44.00    0.00  100.84   0.00   1.50
75%    65.00    1.00  102.25   1.00   2.00
max    83.00    1.00  104.00   1.00   3.00

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [50]:
mn=MinMaxScaler()

In [54]:
x_train_mn = mn.fit_transform(x_train)

In [56]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [58]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.49    0.39   0.47   0.38   0.46
std     0.32    0.49   0.34   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.17   0.00   0.00
50%     0.50    0.00   0.47   0.00   0.50
75%     0.77    1.00   0.71   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00